header {
    font-size: small;
   
}


.h {
    height: 35px;
}

.btn-Teklif {
    
    border-radius: 3px;
    width: 55%;
    height: 30px;
    color:white;
    margin: auto;
    font-size: 13px;
    font-family: Open Sans, Arial;
    background-color: #007bff;
    border-color: #007bff;
   
}

nav {
    height: 115px;
    width: 100%;
    background-color: #539dec;
}
a {
    font-family:
    color: black;
    font-size: 13px;
    font-weight: 600;
}