header {
    font-size: small;
}

.h {
    height: 35px;
}

.btn-Teklif {
     border-radius: 3px;
    width: 55%;
    height: 30px;
    color:white;
    margin: auto;
    font-size: 13px;
    font-family: Open Sans, Arial;
    background-color: #007bff;
    border-color: #007bff;
   
}
nav {
    height: 115px;
    width: 100%;
    background-color: #539dec;
}
a {
    font-family:
    color: black;
    font-size: 13px;
    font-weight: 600;
}
.imgg{
    height: 350%;
    weight: 250%;
}
.menu{
    
    color: black;
    font-size: 13px;
    font-weight: 600;
}

/*  <img src="https://mdweb108.websitedemolari.com/images/logo/3647047472494-982-220xlogo.png" alt="" width="160%" >  */

.imgBig {
    width:400px;
    height: 400px;
    
}
.hizmetBaslik {
    font-weight: 700;
    letter-spacing: 0.04em;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

.parag {
    color: #404040;
    letter-spacing: 0.07em;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;

}

.hiza{
    margin:auto;
}