body {
  background-color: rgb(193, 166, 56);
}
.container {
  text-align: center;
  width: 100%;
  margin-top: 300px;
}

#bas {
  height: 50px;
  width: 150;
  color: aqua;
  background-color: rgb(7, 59, 59);

  font-size: 25px;

  border: 3px solid orange;
  border-radius: 15px;

  cursor: pointer;
}

.kaydır_sağ {
  float: right;
}

.kaydır_sol {
  float: left;
}
