.container{
    text-align: center;
    width: 100%;
    margin-top: 300px;
    
}

#bas{

background-color: yellow;
height: 50px;
width: 150;
color:aqua;
border: 1px solid black;
outline: none;
font-size: 25px;
vertical-align: middle;
border: 3px solid orange;
border-radius: 15px;
text-transform: capitalize;
cursor:pointer;

}

.kaydır_sağ{

   float:right;


}

.kaydır_sol{

    float: left;

 }
 


 
