.arkaR {
  background-image: url("https://w7.pngwing.com/pngs/967/546/png-transparent-a-man-back-office-worker-suit.png");
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  text-transform: uppercase;
}
h3 {
  text-transform: uppercase;
}

.bord {
  border-color: black;
}
.navbar2 {
  font-size: 20px;
}
.navilk {
  width: 80px;
  border-radius: 5px;
}

/*burası **/

img {
  width: 210px;
  height: 210px;
}

.say {
  font-size: 20px;
}
h2 {
  text-transform: uppercase;
}
