.arkaR {
  background-image: url("https://w7.pngwing.com/pngs/967/546/png-transparent-a-man-back-office-worker-suit.png");
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  text-transform: uppercase;
}
h3 {
  text-transform: uppercase;
}
